:root {
  --main-bg-color: brown;
  --main-text-color: #082032;
  --main-bg-color: #fdfdfd;
  --status-bg-color: white;
  --status-upcoming-text-color: #79b8d1;
  --status-ongoing-text-color: #aef4a4;
  --status-finished-bg-color: #e36488;

  --base-blue: #3785b8;
  --base-white: #ffffff;
  --base-font-white: #f7f7f7;
  --base-font-black: #4d4d4d;
  --base-grey: #d1d1d1;
  --base-light-grey: #999999;
  --base-background-white: #f7f7f7;
  --base-icon-green: #48c28b;
  --base-font-red: #b0684c;
}

.section {
  box-shadow: 1px 1px 6px 2px #999;
}

.padding-0 {
  padding: 0;
}
.padding-10 {
  padding: 10px;
}
.padding-12 {
  padding: 12px;
}

.padding-l-10 {
  padding-left: 10px;
}

.padding-l-30 {
  padding-left: 30px;
}

.margin-0 {
  margin: 0;
}
.margin-10 {
  margin: 10px;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.font-22 {
  font-size: 22px !important;
}

.font-20 {
  font-size: 20px !important;
}

.font-16 {
  font-size: 16px !important;
}

.font-12 {
  font-size: 12px !important;
}

.font-10 {
  font-size: 10px !important;
}

.font-8 {
  font-size: 8px !important;
}

.font-bold {
  font-weight: bold !important;
}

.float-r {
  float: right !important;
}

.float-l {
  left: left !important;
}

.no-border {
  border: none !important;
}

.width-max-content {
  width: max-content;
}

.appBar {
  background-color: var(--base-blue) !important;
}

.appBar .toolbar {
  padding: 0 30px !important;
  display: flex;
  justify-content: space-between !important;
}

.searchBar {
  background: white;
  border-radius: 18px;
  height: 36px;
  padding: 0 10px;
}
.searchBar * {
  height: 36px;
}

.searchBar .input-base {
  width: 150px;
}

.searchBar ::placeholder {
  color: var(--base-blue) !important;
  font-size: 8px;
  opacity: 1 !important;
}

.searchBar .icon {
  color: var(--base-blue) !important;
}

.page {
  height: calc(100% - 112px);
}

.user-location-div {
  padding: 10px 30px 5px !important;
  height: 50px !important;
  background-color: var(--base-background-white);
}

.user-location-div .icon {
  color: var(--base-icon-green);
  padding-top: 0px;
}

.user-location-div .current-address {
  color: var(--base-blue);
}

.progressBar {
  width: calc(100% - 10px);
  height: 10px;
  background-color: white;
  border-radius: 5px;
  padding: 2px;
  box-sizing: border-box;
  margin-right: 5px;
}

.progressBar div {
  background-color: var(--base-icon-green);
  width: 90%;
  height: 6px;
  border-radius: 3px;
}

*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

textarea:focus,
input:focus {
  outline: none;
}
