.indicators {
  padding: 0 !important;
  margin: 0 !important;
}

.image_indicator {
  margin-right: 5px;
  background-color: #ffa64d;
  height: 3px;
  width: 15px;
  border-radius: 2px;
  border: 0;
}

.image_indicator.active {
  background-color: #3785b8;
}
