.login-page {
  height: 100%;
  background-color: #fff;

  .banner-img {
    width: 60%;
    padding: 120px 20% 0;
  }
  .header {
    margin: 0;
    font-size: 24px;
    text-align: center;
    padding: 50px 0;
    font-weight: bold;
    color: #3785b8;
  }
}
