body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
}

body,
#root {
  width: inherit;
  height: inherit;
  background-color: #ffffff;
  overflow: hidden;
}

#app {
  width: inherit;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: repeating-linear-gradient(
    #e6e6e6,
    #e6e6e6 30%,
    #ffffff 70%,
    #ffffff 100%
  );
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
